body {
  font-family: Courier;
  font-size: 13px;
  color: #404;
}
h1, h2, h3, h4 {
  margin: 0 0 5px 5px;
}

#main {
  width: 70%;
  float: left;
  max-width: 700px;
}
#meta {
  width: 29%;
  float: left;
  max-width: 300px;
}
#footer {
  clear: both;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}
#about {
  margin: 0 40px;
}
span.wrap {
  margin: 0; padding: 0; border: 0;
}

#disconnected {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 4px;
  margin: 0 10px;
  text-align: center;
  background: #ff0;
  color: #000;
  display: none;
}
#countdown {
  font-weight: bold;
  color: #070;
}
#debug_log p {
  font-size: 9px;
  margin: 1px 10px;
  padding: 0;
}

#channel, #input, #people, #me {
  padding: 0px; margin: 5px 10px 20px 10px; border: 1px solid #404;
  color: #000;
  background: #404;
  max-height: 400px;
  overflow: auto;
  position: relative;
}
#input, #recording {
  white-space: nowrap;
  overflow: hidden;
  margin-top: -20px;
}
.display-no {
  display: none;
}
.nodisplay-yes {
  display: none;
}
#input.sending {
  background: #ff0;
}
#input.error {
  background: #f00;
}
#input .privmsg {
  margin: 0;
  width: 85%;
}
#input .send {
  margin: 0;
  width: 14%;
}
#pleaselogin, #loginpending {
  text-align: center;
}
.disclaimer {
  margin: 0 50px;
  text-align: left;
  font-size: 10px;
}
#logout {
  float: right;
}
#recording {
  padding: 0px;
  margin: -15px 10px 20px 10px;
  text-align: center;
}
#recording .rec {
  display: inline-block;
  margin: 4px 0 -4px 0;
  width: 20px;
  background: #f00;
  color: #f00;
  overflow: hidden;
}
#people {
  height: 200px;
}
.toggle {
  margin: 0;
}
#settings input {
  margin-left: 20px;
}
.comment, .action, .person {
  border: 1px solid #77f;
  background: #dde;
  padding: 2px 2px 2px 40px;
  margin: 2px;
  min-height: 32px;
}
.comment img, .action img, .person img {
  margin-left: -38px;
  max-width: 32px;
  max-height: 32px;
  float: left;
  opacity: 2.0;
}
.comment .name, .person .name {
  font-weight: bold;
  margin: 0 2px 0 0;
}
.comment .time, .action .time {
  float: right;
  margin: 0 0 10px 10px;
  font-size: 0.8em;
}
.person {
  overflow: hidden;
}
.person.gone {
  opacity: 0.5;
}
.person.gone .name {
  text-decoration: line-through;
}
.person .name {
  display: block;
}
.join, .part, .nick {
  display: inline-block;
  font-size: 0.8em;
  border: 1px solid #77f;
  padding: 2px 4px;
  margin: 2px;
  min-height: 16px;
  opacity: 0.6;
}
.join img, .join .time,
.nick img, .nick .time,
.part img, .part .time {
  display: none;
}
.part {
  text-decoration: line-through;
  opacity: 0.4;
}
.topic, .topic a {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.topic .label {
  font-size: 13px;
  color: #aaa;
}

.channel_list .network {
  font-weight: bold;
}
.channel_list .network ul {
  margin-bottom: 10px;
  font-weight: normal;
}
